/******TYPOGRAPHY***************************************************************/
@font-face {
    font-family: 'Fearce';
    src: url('../assets/font/Fearce/fearce.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: "Oxygen";
    src: url("../assets/font/Oxygen/Oxygen-Bold.ttf") format("truetype");
    src: url("../assets/font/Oxygen/Oxygen-Light.ttf") format("truetype");
    src: url("../assets/font/Oxygen/Oxygen-Regular.ttf") format("truetype");
}
/**MODIFICO IN REM QUANDO LI HO CALCOLATI**/
h1{
    font-family: "Fearce", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-variant-ligatures: normal;
    font-size: 41px;
    line-height: 1;
    letter-spacing: 0.2em;
    color: #FF8300;
}
h2{
    font-family: "Fearce", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-variant-ligatures: normal;
    font-size: 25px;
    line-height: 1;
    letter-spacing: 0.2em;
    color: #FFFFFF;
}
.altH2{
    font-family: "Oxygen", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-variant-ligatures: normal;
    font-size: 30px;
    line-height: 2.5rem;
    letter-spacing: 0.2em;
    color: #FFFFFF;
}
h3{
    font-family: "Fearce", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-variant-ligatures: normal;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 0.2em;
    color: #FFFFFF;
}

p{
    font-family: "Oxygen", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-variant-ligatures: normal;
    font-size: 18px;
    line-height: 2.25rem;
    letter-spacing: 0.15em;
    color: #FFFFFF;
    margin-bottom: 2rem;
}
.strong{
    font-family: "Oxygen", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-variant-ligatures: normal;
    font-size: 16px;
    line-height: 36px;
    letter-spacing: 0.15em;
    color: #FFFFFF;
}
li{
    font-family: "Oxygen", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-variant-ligatures: normal;
    font-size: 1.125rem;
    line-height: 2.25rem;
    letter-spacing: 0.15em;
    color: #FFFFFF;
}
.btn-text{
    font-family: "Oxygen", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-variant-ligatures: normal;
    font-size: 15px;
    line-height: 1;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    text-decoration: none;
}
.navbar-copy{
    font-family: "Oxygen", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-variant-ligatures: normal;
    font-size: 20px;
    line-height: 1;
    letter-spacing: 0.2em;
    color: #FF8300;
}
.footer-txt{ /**Cambio nome in quello tipografico giusto**/
    font-family: "Oxygen", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-variant-ligatures: normal;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0;
    color: #FFFFFF;
    margin: 0;
}


@media screen and (min-width: 992px) {
    h2{
        font-size: 30px;
    }
}

/*****NAVBAR*******************************************************************/
.navbar{
    padding: 0;
}
.bg-custom-grey{
    background-color: #1D1A18;
}
.navbar-toggler-icon{
    background-image: url("../assets/img/Navbar-button.png");
}
.nav-link:hover{
    color: #FF8300;
}
.link-active{
    border-bottom: 5px solid #FF8300;
}
.navbar-list-item{
    text-align: end;
}
#offcanvasNavbar{
    background-color: #1D1A18;
}
.offcanvas-header{
    background: #FF8300;
}
.offcanvas-body{
    padding-right: 25px;
}
.btn-close{
    width: 100%;
    background: url("../assets/img/Close.png") center/1em auto no-repeat;
    opacity: 1;
}
.navbar-toggler:focus{
    background-color: #1D1A18;
    border: none;
}
.navbar-toggler:active{
    background-color: #1D1A18;
    border: none;
}

/*****BACKGROUN*****************************************************************/
body{
    padding: 0!important;
    background-color: #070400;
}
.home-body{
    background-image:
            url("../assets/img/Background/Home/bg-phone-home-top.png"),
            url("../assets/img/Background/Home/bg-phone-home-mid.png"),
            url("../assets/img/Background/Home/bg-phone-home-bot.png"),
                /*****Light Points****/
            url("../assets/img/Background/Home/pl-home-1.png");
    background-size:
            197px 492px,
            133px 379px,
            334px 389px,
                /*****Light Points****/
            580px 625px;
    background-position:
            left 2.5%,
            right 69.5%,
            right 93%,
                /*****Light Points****/
            10% 10%;
    background-repeat: no-repeat;
}
.pl-card-home{
    background-image: url("../assets/img/Background/Home/pl-home-3.png");
    background-size: 452px 697px;
    background-position: center;
    background-repeat: no-repeat;
}
.product-body{
    background-image:
            url("../assets/img/Background/Prodotto/bg-phone-left1.png"),
            url("../assets/img/Background/Prodotto/bg-phone-right1.png"),
            url("../assets/img/Background/Prodotto/pl-desktop3.png"),
            url("../assets/img/Background/Prodotto/bg-prodotto-large-left.png"),
            url("../assets/img/Background/Prodotto/bg-phone-right2.png"),
            url("../assets/img/Background/Prodotto/bg-phone-left2.png");
    background-size:
            197px 380px,
            401px 360px,
            484px 453px,
            198px 266px,
            168px 331px,
            174px 335px;
    background-position:
            left 16.875rem,
            right 119.875rem,
            center 160.3125rem,
            left 81%,
            right 87%,
            left 96%;
    background-repeat:no-repeat;
}
.mission-body {
    background-image:
            url("../assets/img/Background/Mission/bg-mission-sm-t.png"),
            url("../assets/img/Background/Mission/bg-mission-sm.png"),
            url("../assets/img/Background/Mission/pl-mission-sm.png"),
            url("../assets/img/Background/Mission/bg-mission-sm-b1.png"),
            url("../assets/img/Background/Mission/bg-mission-sm-b2.png");
    background-size:
            245px 377px,
            516px 518px,
            939px 885px,
            524px 606px,
            201px 615px;
    background-position:
            left -3px,
            center 363px,
            center 200px,
            -195px 61%,
            right 98%;
    background-repeat: no-repeat;
}
.event-body {
    background-image:
            url("../assets/img/Background/Event/bg-phone-event-top.png"),
            url("../assets/img/Background/Event/bg-phone-event-bot.png");
    background-size:
            335px 624px,
            335px 615px;
    background-position:
            left 3%,
            right 93%;
    background-repeat: no-repeat;
}
.pl-card-event{
    background-image: url("../assets/img/Background/Event/pl-event-2.png");
    background-size: 540px 648px;
    background-position: center;
    background-repeat: no-repeat;
}
.event-detail-body {
    background-image:
            url("../assets/img/Background/EventDetails/bg-phone-details.png");
    background-size:
            540px 983px;
    background-position:
            center 90%;
    background-repeat: no-repeat;
}
.about-body{
    background-image:
            url("../assets/img/Background/About/bg-phone-left.png"),
            url("../assets/img/Background/About/pl-phone1.png"),
            url("../assets/img/Background/About/pl-phone3.png"),
            url("../assets/img/Background/About/pl-phone1.png"),
            url("../assets/img/Background/About/pl-phone3.png"),
            url("../assets/img/Background/About/pl-phone1.png"),
            url("../assets/img/Background/About/pl-phone3.png"),
            url("../assets/img/Background/About/pl-phone2.png");
    background-size:
            336px 606px,
            532px 728px,
            532px 728px,
            532px 728px,
            532px 728px,
            532px 728px,
            532px 728px,
            538px 1326px;
    background-position:
            left 1.5%,
            50% 2%,
            left 11%,
            50% 20%,
            left 29%,
            50% 38%,
            left 47%,
            center 97%;
    background-repeat: no-repeat;
}
.shop-body{
    background-image:
            url("../assets/img/Background/Shop/bg-shop-sm.png"),
            url("../assets/img/Background/Shop/pl-shop.png");
    background-size:
            248px 558px,
            1074px 1074px;
    background-position:
            left top,
            center center;
    background-repeat: no-repeat;
}

@media screen and (min-width: 992px) {
    .home-body{
        background-image:
                url("../assets/img/Background/Home/bg-desktop-home-top.png"),
                url("../assets/img/Background/Home/bg-desktop-home-bot.png"),
                    /*****Light Points****/
                url("../assets/img/Background/Home/pl-home-1.png"),
                url("../assets/img/Background/Home/pl-home-2.png"),
                url("../assets/img/Background/Home/pl-home-5.png");

        background-size:
                395px 587px,
                730px 1025px,
                    /*****Light Points****/
                580px 625px,
                1140px 585px,
                751px 1026px;
        background-position:
                top left,
                bottom right,
                    /*****Light Points****/
                10% 90%,
                center 15%,
                left 80%;

        background-repeat: no-repeat;
    }
    .product-body{
        background-color:#070400;
        background-image:
                url("../assets/img/Background/Prodotto/bg-prodotto-large-left.png"),
                url("../assets/img/Background/Prodotto/bg-prodotto-large-center.png"),
                url("../assets/img/Background/Prodotto/bg-ellipse-large.png"),
                url("../assets/img/Background/Prodotto/pl-desktop3.png");
        background-size:
                22.375rem 33rem,
                87.5rem  43.75rem,
                187.5rem 50.75rem,
                500px 500px;
        background-position:
                left 24%,
                right 156.25rem,
                center 42%,
                center 63%;
        background-repeat:no-repeat;
    }
    .pl-card-product{
        background-image: url("../assets/img/Background/Prodotto/bg-ellipse-large.png");
        background-size: 484px 453px;
        background-position: center;
        object-fit: fill;
        background-repeat: no-repeat;
    }
    .mission-body {
        background-image:
                url("../assets/img/Background/Mission/bg-mission-lg-t.png"),
                url("../assets/img/Background/Mission/pl-mission-lg.png"),
                url("../assets/img/Background/Mission/pl-mission-lg-b2.png"),
                url("../assets/img/Background/Mission/pl-mission-lg-b1.png"),
                url("../assets/img/Background/Mission/bg-desktop-right.png");
        background-size:
                649px 505px,
                1057px 999px,
                1033px 660px,
                922px 565px,
                521px 907px;
        background-position:
                left top,
                center 275px,
                -250px 1400px,
                right 1100px,
                right bottom;
        background-repeat: no-repeat;
    }
    .event-body {
        background-image:
                url("../assets/img/Background/Event/bg-desktop-event-top.png"),
                url("../assets/img/Background/Event/bg-desktop-event-bot.png");
        background-size:
                723px 637px,
                788px 776px;
        background-position:
                left top,
                right 86%;
    }
    .pl-card-event{
        background-image: url("../assets/img/Background/Event/pl-event-1.png");
        background-size: 688px 692px;
        background-position: center right;
        background-repeat: no-repeat;
    }
    .event-detail-body {
        background-image:
                url("../assets/img/Background/EventDetails/bg-desktop-details.png"),
                    /*****Light Points****/
                url("../assets/img/Background/EventDetails/pl-details-1.png"),
                url("../assets/img/Background/EventDetails/pl-details-1.png");
        background-size:
                924px 540px,
                    /*****Light Points****/
                668px 916px,
                668px 916px;
        background-position:
                right 79%,
                    /*****Light Points****/
                left 30%,
                right 50%;
        background-repeat: no-repeat;
    }
    .about-body{
        background-image:
                url("../assets/img/Background/About/pl-desktop-left.png"),
                url("../assets/img/Background/About/pl-desktop-right.png"),
                url("../assets/img/Background/About/pl-desktop-left.png"),
                url("../assets/img/Background/About/pl-desktop-right.png"),
                url("../assets/img/Background/About/pl-desktop-left.png"),
                url("../assets/img/Background/About/pl-desktop-right.png"),
                url("../assets/img/Background/About/bg-desktop-left.png"),
                url("../assets/img/Background/About/bg-desktop-right.png"),
                url("../assets/img/Background/About/pl-phone2.png");
        background-size:
                560px 698px,
                539px 698px,
                560px 698px,
                539px 698px,
                560px 698px,
                539px 698px,
                283px 754px,
                392px 756px,
                1326px 538px;
        background-position:
                left 3%,
                right 3%,
                left 17%,
                right 17%,
                left 31%,
                right 31%,
                left 53%,
                right 70%,
                center 97%;
        background-repeat: no-repeat;
    }
    .shop-body {
        background-image:
                url("../assets/img/Background/Shop/bg-shop-lg-t.png"),
                url("../assets/Img/Background/Shop/bg-shop-lg-b.png");
        background-size:
                531px 620px,
                605px 1112px;
        background-position:
                top left,
                bottom right;
        background-repeat: no-repeat;
    }


    .bg-line-about{
        position: relative;
        left: 50%;
        margin-left: -263px;
        top: 26.5%;
        z-index: 0;
    }

}

/*****CONTENT*******************************************************************/
#header-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-header{
    width: 20.5rem;
    height: 22.429rem;
}

.img-fluid{
    width: 100%;
    max-height: 593px;
    object-fit: cover;
    object-position: 25% 25%;
}


@media screen and (min-width: 992px) {
    #header-box{
        display: inline-block;
    }
}


/*****CARD*******************************************************************/
.card{
    background-color: rgba(255, 255, 255, .08);
    backdrop-filter: blur(15px);
    border: none;
    border-radius: 30px!important;
}
.card-product{
    height: 22.313rem;
    margin-top: 50px;
}
.card-text-product{
    text-align: center;
    margin-bottom:1rem;
}
.card-img{
    padding: 1.75rem 1.75rem 3.313rem 1.75rem;
    margin-top: auto;
    margin-bottom: auto;
}
.details-card-img{
    padding: 2.5rem 4.188rem 2.813rem 4.188rem;
}
.map{
    height: 23.75rem;
    width: 100%;
    object-fit: cover;
    border-radius: 15px!important;
}
.img-card-full{
    width: 473px;
    height: 563px;
    margin: 0 10%;
}
#product-img1{
    margin-bottom: 3.934rem;
}
#product-img2{
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2.875rem;
}
#product-img3{
    margin-bottom: 30px;
}
#product-img4{
    margin-bottom: 75px;
}
.rounded{
    border-radius: 15px!important;
}
.home-card-body{
    height: 563px;
    padding: 0 2rem 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-body-product{
    height: 40.188rem;
    padding: 0 2.063rem 0 2.063rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-body-product2{
    height: 22.313rem;
    padding: 0 2.063rem 0 2.063rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.event-card-body{
    padding: 0 1.75rem 2.813rem 1.75rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.home-card-title{
    margin-bottom: 2.75rem;
    text-align: center;
    color: #FF8300;
}
.event-card-title{
    margin: 0 0 2.563rem 0;
    color: #FF8300;
}
.details-card-title{
    margin-top: 2.813rem;
    margin-bottom: 1.875rem;
    color: #FF8300;
}
.home-card-text{
    margin-bottom: 3.938rem;
    text-align: center;
}
.event-card-text{
    margin-bottom: 3.5rem;
}
.details-card-text{
    text-align: start;
}
.btn{
    width: 14.938rem;
    padding: 14px 0 14px 0;
    border-radius: 20px;
    text-align: center;
    background-color: #070400;
    border: 3.5px solid #FF8300;
    box-shadow: 0 0 15px #FF8300;
    transition: 0.3s;
}
.btn:hover{
    background-color: #070400;
    border: 3.5px solid #FF8300;
    box-shadow: 0 0 15px #FF8300;
    color: #FFFFFF;
}
.btn:active{
    background-color: #FF8300!important;
    border: 3.5px solid #FF8300!important;
    box-shadow: 0 0 15px #FF8300!important;
    color: #070400!important;
}
#marker {
    background-image: url("../assets/img/marker.png");
    background-size: contain;
    width: 25px;
    height: 45px;
    background-repeat: no-repeat;
}
.card-chip{
    padding:28px 20px 20px 25px;
    min-width: 380px;
    max-height: 175px;
    position:relative;
    z-index:0;
}
.img-chip1{
    float:right;
    position:relative;
    z-index:1;
    margin-left:-3.5rem!important;
    width:200px;
    height:200px;
}
.img-chip2{
    float:left;
    position:relative;
    z-index:1;
    margin-right:-3.5rem!important;
    width:200px;
    height:200px;
}
.h3-shop-active{
    font-size: 25px;
    line-height: 2.5rem;
    margin-bottom: 2.375rem;
}
.price-shop-active{
    font-size: 22px;
    text-align: center;
    margin-bottom: 2.625rem;
    color: #FFFFFF;
}
.icons-mission-phone{
    margin-top: 13rem;
    margin-bottom: 13.563rem;
    padding-left: 20%;
    padding-right: 20%;
}
.orient-goal-product{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 2.063rem;
    text-align: center;
}
.orient-goal-mission{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2.063rem;
    text-align: center;
}
.orient-goal-reverse-mission{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin-bottom: 5.625rem;
    text-align: center;
}
#img-goal7{
    position: relative;
    z-index: 1;
    margin-bottom: -2.813rem;
}
#img-goal12{
    position: relative;
    z-index: 1;
    margin-bottom: -2.813rem;
}
.card-mission{
    max-height: 18.125rem;
    width: 28.188rem;
    padding: 3.875rem 3.5rem;
    position: relative;
    float: left;
    z-index: 0;
}
.icon-desc{
    height: 4.375rem;
    width: 4.375rem;
}
.img-icons{
    margin-bottom: 0.625rem;
}
.card-collab {
    width: 261px;
    height: 261px;
    margin: 0 auto 50px auto;
}
.image-collab {
    width: 192px;
    height: 129px;
}
.img-shop{
    width: 19rem;
    height: 13.875rem;
    margin-right: auto;
    margin-left: auto;
}
.card-shop{
    height: 43.125rem;
    margin: 5.625rem 0.75rem;
}



/*****CAROUSEL*******************************************************************/
.carousel-shop-phone{
    width: 100%;
    height: 600px;
    margin-top: 90px;
    margin-bottom: 90px;
}
.carousel-control-prev-icon {
    background-image: url("../assets/img/arrow-left-home.png");
    width: 25px;
    height: 49px;
}
.carousel-control-next-icon{
    background-image: url("../assets/img/arrow-right-home.png");
    width: 25px;
    height: 49px;
}
.carousel-control-next, .carousel-control-prev{
    width: 10%;
}
.img-limited{
    width: 80%;
}
.fixed-height{
    height: 47.5rem;
}
.carousel-indicators{
    bottom: -10%;
}
.shop-carousel-indicators{
    bottom: 2%;
}
.carousel-indicators button {
    width: 15px!important;
    height: 15px!important;
    border-radius: 100% !important;
    background-color: #FF8300!important;
}
.m-button-mission{
    margin-right: 4%;
    margin-left: 4%;
}
#b-sostenibile{
    margin-bottom: -5.313rem;
}
#m-versatile{
    margin-top: -5.313rem;
}
.m-goals{
    margin-top: 5.625rem;
    margin-bottom: 2.063rem;
}
.b-shop-carousel-phone{
    margin-bottom: 5.625rem;
}

/*****FOOTER*******************************************************************/
#Footer{
    height: 240px;
    padding-bottom: 25px;
}
#Footer-spacing{
    margin-top: 12px;
    margin-bottom: 24px;
}
.m-footer{
    margin-top: 5.625rem;
}


@media screen and (min-width: 992px) {
    #Footer{
        height: 325px;
    }
    #Footer-spacing{
        margin-top: 24px;
        margin-bottom: 42px;
    }
    .m-footer{
        margin-top: 4.5rem;
    }
}

/*****UTILITY*******************************************************************/
.phone{
    display: inherit;
}
.phone-flex{
    display: flex;
    flex-direction: row;
}
.phone-flex-reverse{
    display: flex;
    flex-direction: row-reverse;
}
.desktop{
    display: none;
}
.text-withe{
    color: #FFFFFF;
}
.text-orange{
    color: #FF8300;
}
.text-black{
    color: #070400;
    font-weight: bold;
}
.no-card{
    background-color: transparent;
    backdrop-filter: none;
}
.m-header{
    margin-top: 5.625rem;
}
.m-card{
    margin-bottom: 3.125rem;
}
.mb-h1{
    margin-bottom: 2.188rem;
}
#last-home{
    margin-bottom: 0;
}
.m-h2{
    margin-top: 2.375rem;
    margin-bottom: 5.625rem;
}
#header-subtitle{
    text-align: center;
    margin-top: 2.813rem;
    margin-bottom: 2.188rem;
}
.m-subtitle-home{
    margin-top: 5.625rem;
    margin-bottom: 3.125rem;
}
.m-text{
    margin-top: 2.938rem;
    margin-bottom: 3.188rem;
}

.card-img-top{
    width: auto;
}
.about-card-body{
    background-color: rgba(255, 255, 255, .08);
    backdrop-filter: blur(15px);
    border: none;
    border-radius: 30px!important;
    height: 235px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.m-subtitle-about {
    margin-bottom: 4.5rem;
}
.imagine-collab-adidas{
    width: 192px;
    height: 130px;
    margin: auto;
}

.imagine-collab-nike{
    width: 192px ;
    height: 67px;
    margin: auto;
}

.imagine-collab-puma{
    width: 192px;
    height: 132px;
    margin: auto;
}
.m-collab {
    margin-top: 4.5rem;
    margin-bottom: 4.5rem;
}
@media screen and (min-width: 992px) {
    .phone{
        display: none;
    }
    .desktop{
        display: inherit;
    }
    .phone-flex{
        display: none;
    }
    .m-header{
        margin-top: 4.438rem;
    }
    .m-h2{
        margin-top: 1.875rem;
        margin-bottom: 4.5rem;
    }
    #header-subtitle{
        text-align: start;
        margin-top: 0.5rem;
        margin-bottom: 1.188rem;
    }
    .m-subtitle-home{
        margin-top: 5.25rem;
        margin-bottom: 4.875rem;
    }
    .m-text{
        margin-top: 4.5rem;
        margin-bottom: 4.5rem;
    }
    .about-card {
        width: 18rem;
    }
    .card-collab {
        margin-bottom: 0;
    }
}
@media screen and (min-width: 992px) {
    .card-img {
        padding: 1.5rem;
        display: block;
    }
    .card-body-product{
        height: 28.313rem;
        padding: 0 2.063rem 0 2.063rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .event-card-body {
        padding: 1.5rem 2.25rem 1.5rem 0;
        height: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .event-card-title {
        padding: 3.438rem 0 0 0;
        margin: 0;
        text-align: start;
    }
    .details-card-title{
        margin: 0.5rem 0 0 3.125rem;
    }
    .event-card-text{
        width: 80%;
        margin-top: 1rem;
        text-align: start;
    }
    .details-card-text{
        margin-left: 3.125rem;
    }
    .about-card-body {
        background-color: transparent;
        backdrop-filter: none;
        border: none;
        padding: 0;
        height: auto;
    }
    .about-card-text{
        margin-top: 1rem;
    }
    #text-large1{
        width: 350px;
    }
    #about-team .row:not(.row:last-child){
        margin-top: 0;
        margin-bottom: 15px;
    }
    .home-btn{
        margin-right: auto;
        margin-left: auto;
    }
    .event-btn{
        align-self: end;
    }
    .details-btn{
        margin-left: 3.125rem;
        align-self: start;
    }
    .card-text-product{
        width: 80%;
        margin-bottom: 1.875rem;
    }
    .card-product{
        height: 28.3125rem;
        margin: 0;
    }
    .card-product-description {
        width: 100%;
        height: 510px;
        padding: 32px 20px 32px 35px;
    }
    li:not(li:last-child){
        margin-bottom: 35px;
    }
    .chip{
        width: 100%;
        object-fit: contain;
    }
    .h3-shop-active{
        font-size: 30px;
        line-height: 1.875rem;
        margin-bottom: 1.625rem;
    }
    .price-shop-active{
        font-size: 22px;
        text-align: center;
        margin-bottom: 2.625rem;
        line-height: 2.188rem;
        color: #FFFFFF;
    }
    .mt-icons{
        margin-top: 4.5rem;
    }
    .orient-icons{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #logo-img{
        margin-top: -6.625rem;
        margin-bottom: -6rem;
    }
    .m-goals{
        margin-top: 4.5rem;
        margin-bottom: 1rem;
    }
    #img-goal7{
        float: left;
        position: relative;
        z-index: 1;
        margin-right: -2.25rem;
    }
    #img-goal12{
        float: right;
        position: relative;
        z-index: 1;
        margin-left: -2.25rem;
    }
    .card-mission{
        min-height: 10.563rem;
        width: 28.188rem;
        padding: 1.875rem 2.75rem 0.875rem 2.75rem;
        margin-top: auto;
        position: relative;
        float: left;
        z-index: 0;
    }
    .icon-desc {
        height: 4.375rem;
        width: 4.375rem;
    }
    .icon-mission{
        max-width: 16.313rem;
    }
    .orient-goal-mission{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 2.063rem;
        text-align: center;
    }
    .orient-goal-reverse-mission{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 2.063rem;
        text-align: center;
    }
    .m-button-shop{
        margin-bottom: 22px;
    }

    .about-h3 {
        margin-bottom: 0.5rem;
    }

    .m-about1 {
        margin-top: 5.188rem;

    }

    .m-about2 {
        margin-top: 13.125rem;
    }

    .m-about3 {
        margin-top: 24rem;
    }

    .m-collab {
        margin-top: 4.5rem;
        margin-bottom: 4.5rem;
    }
}
/*****************CAROUSEL BOOTSTRAP***************/
@media screen and (min-width: 992px) {
    .fixed-height{
        height: 460px;
    }
    .carousel-control-next, .carousel-control-prev{
        width: 15%;
    }
    .carousel-indicators{
        bottom: -15%;
    }
    #desktop-shop-indicators{
        position: static;
        margin-top: -150px;
        margin-bottom: 50px;
    }
    .b-shop-img{
        margin-bottom: 1.688rem;
    }
    /**.carousel-indicators{
        bottom: -30%;
    }**/
    .carousel-indicators button{
        width: 15px!important;
        height: 15px!important;
        border-radius: 100% !important;
        background-color: #FF8300!important;
    }
    #content{
        width: 100%!important;
        height: 400px!important;
        margin-top: 0!important;
    }
    #wr360container_wr360PlayerId{
        max-height: 438px;
    }
}
#wr360ThemePanel__wr360PlayerId #wr360ThemePanelBack_wr360PlayerId{
    height: 0!important;
}

/****CAROUSEL IMPORTED*****/
@media screen and (min-width: 992px) {
    .card-carousel {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-top: 102px;
        margin-bottom: 185px;
    }
    .card-carousel .my-card {
        width: 355px;
        height: 513px;
        position: relative;
        z-index: 1;
        -webkit-transform: scale(0.6) translateY(-2rem);
        transform: scale(0.6) translateY(-2rem);
        opacity: 0;
        cursor: pointer;
        pointer-events: none;
        transition: 1s;
    }
    .card-carousel .my-card:after {
        content: '';
        position: absolute;
        height: 2px;
        width: 100%;
        border-radius: 100%;
        background-color: rgba(0,0,0,0.3);
        bottom: -5rem;
        -webkit-filter: blur(4px);
        filter: blur(4px);
    }
    .card-carousel .my-card.active {
        z-index: 3;
        -webkit-transform: scale(1) translateY(0) translateX(0);
        transform: scale(1) translateY(0) translateX(0);
        opacity: 1;
        backdrop-filter: blur(15px);
        pointer-events: auto;
        transition: 1s;
    }
    .my-card a{
        pointer-events: none;
    }
    .my-card.active a{
        pointer-events: auto;
    }
    .card-carousel .my-card.prev, .card-carousel .my-card.next{
        z-index: 2;
        -webkit-transform: scale(0.8) translateY(-1rem) translateX(0);
        transform: scale(0.8) translateY(-1rem) translateX(0);
        opacity: 0.7;
        pointer-events: auto;
        backdrop-filter: blur(15px);
        transition: 1s;
    }
    .card-carousel .my-card:nth-child(0):before {
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }
    .card-carousel .my-card:nth-child(1):before {
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }
    .card-carousel .my-card:nth-child(2):before {
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }
    .card-carousel .my-card:nth-child(3):before {
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }
    .card-carousel .my-card:nth-child(4):before {
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }
    .card-carousel .my-card:nth-child(5):before {
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }
    #thank_you{
        position: absolute;
        width: 404px;
        height: 215px;
        margin-left: -202px;
        margin-top: -107.5px;
        left: 50%;
        top: 50%;
        z-index: 5;
        backdrop-filter: blur(30px);
        border: 3px solid #FF8400;
        box-shadow: 0 0 15px #FF8300;
    }
}
#thank_you2{
    position: absolute;
    width: 404px;
    height: 215px;
    left: 13%;
    top: 52%;
    z-index: 5;
    backdrop-filter: blur(30px);
    border: 3px solid #FF8400;
    box-shadow: 0 0 15px #FF8300;
}
#about-team{
    background-image:
            url("../assets/img/Background/About/Linea-lunga-neon-phone.png");
    background-position:
            center;
    background-repeat: no-repeat;
    padding-bottom: 226px;
}
@media screen and (max-width: 992px){
    .about-card-body{
        margin-bottom: 40px;
    }
}
@media screen and (min-width: 992px){
    #wr360image_wr360PlayerId{
        width: 907px!important;
        height: 638px!important;
        margin-top: -100px!important;
        margin-left: 2%!important;
    }
    #about-team{
        background-image:
                url("../assets/img/Background/About/Linea-lunga-neon.png"),
                url("../assets/img/Background/About/bg-lineO-360.png"),
                url("../assets/img/Background/About/bg-lineO-360.png"),
                url("../assets/img/Background/About/bg-lineO-360.png");
        background-position:
                center 41%,
                center 6.5%,
                center 38%,
                center 70.5%;
        background-repeat: no-repeat;
        padding-bottom: 226px;
    }
    #about-story{
        background-image:
                url("../assets/img/Background/About/bg-lineV2.png"),
                url("../assets/img/Background/About/bg-curveR-234.png"),
                url("../assets/img/Background/About/bg-curveL-234.png");
        background-position:
                center 280px,
                69% 36%,
                30% 68%;
        background-repeat: no-repeat;
    }
}
@media screen and (min-width: 1100px){
    #wr360image_wr360PlayerId{
        margin-left: 7%!important;
    }
    #about-team{
        background-image:
                url("../assets/img/Background/About/Linea-lunga-neon.png"),
                url("../assets/img/Background/About/bg-lineO-360.png"),
                url("../assets/img/Background/About/bg-lineO-360.png"),
                url("../assets/img/Background/About/bg-lineO-360.png");
        background-position:
                center 55%,
                center 6.5%,
                center 38%,
                center 70.5%;
        background-repeat: no-repeat;
        padding-bottom: 226px;
    }
}
@media screen and (min-width: 1200px){
    #wr360image_wr360PlayerId{
        margin-left: 8%!important; /***TRESHOLD***/
    }
    #about-team{
        background-image:
                url("../assets/img/Background/About/Linea-lunga-neon.png"),
                url("../assets/img/Background/About/bg-lineO-540.png"),
                url("../assets/img/Background/About/bg-lineO-540.png"),
                url("../assets/img/Background/About/bg-lineO-540.png");
        background-position:
                center 55%,
                center 6.5%,
                center 38%,
                center 70.5%;
        background-repeat: no-repeat;
        padding-bottom: 226px;
    }
    #about-story{
        background-image:
                url("../assets/img/Background/About/bg-lineV2-1109.png"),
                url("../assets/img/Background/About/bg-curveR-279.png"),
                url("../assets/img/Background/About/bg-curveL-279.png");
        background-position:
                center 240px,
                69% 36%,
                31% 68%;
        background-repeat: no-repeat;
    }
}
@media screen and (min-width: 1300px){
    #wr360image_wr360PlayerId{
        margin-left: 10%!important;
    }
    #about-team{
        background-image:
                url("../assets/img/Background/About/Linea-lunga-neon.png"),
                url("../assets/img/Background/About/bg-lineO-540.png"),
                url("../assets/img/Background/About/bg-lineO-540.png"),
                url("../assets/img/Background/About/bg-lineO-540.png");
        background-position:
                center 55%,
                center 6.5%,
                center 38%,
                center 70.5%;
        background-repeat: no-repeat;
        padding-bottom: 226px;
    }
    #about-story{
        background-image:
                url("../assets/img/Background/About/bg-lineV2-1093.png"),
                url("../assets/img/Background/About/bg-curveR-279.png"),
                url("../assets/img/Background/About/bg-curveL-279.png");
        background-position:
                center 220px,
                68.5% 36%,
                31% 68%;
        background-repeat: no-repeat;
    }
}
@media screen and (min-width: 1400px){
    #wr360image_wr360PlayerId{
        margin-left: 15%!important; /***TRESHOLD FINALE***/
    }
    #about-team{
        background-image:
                url("../assets/img/Background/About/Linea-lunga-neon.png"),
                url("../assets/img/Background/About/bg-lineO-720.png"),
                url("../assets/img/Background/About/bg-lineO-720.png"),
                url("../assets/img/Background/About/bg-lineO-720.png");
        background-position:
                center 55%,
                center 6.5%,
                center 38%,
                center 70.5%;
        background-repeat: no-repeat;
        padding-bottom: 226px;
    }
    #about-story{
        background-image:
                url("../assets/img/Background/About/bg-lineV2-1093.png"),
                url("../assets/img/Background/About/bg-curveR-324.png"),
                url("../assets/img/Background/About/bg-curveL-324.png");
        background-position:
                center 220px,
                68.5% 36%,
                31% 68%;
        background-repeat: no-repeat;
    }

}
@media screen and (min-width: 1500px){
    #wr360image_wr360PlayerId{
        margin-left: 17%!important;
    }
}
@media screen and (min-width: 1600px){
    #wr360image_wr360PlayerId{
        margin-left: 19%!important;
    }
}
@media screen and (min-width: 1700px){
    #wr360image_wr360PlayerId{
        margin-left: 21%!important;
    }
}
@media screen and (min-width: 1800px){
    #wr360image_wr360PlayerId{
        margin-left: 23.3%!important;
    }
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}